form#newUser, form#loginUser {

  input {
    padding: 20px 20px 20px 5px;
    font-size: 20px;
  }
}

.user {
  border: 1px solid black;
  display: block;
  color: black;
  margin: 2px;
  padding: 15px;
  width: 150px;
  height: 150px;
  float: left;
}

.userFavTeam {
  font-size: 12px;
  margin: 0 0 5px 0;
}