extends ../template/layout

block content
  #home
    .row
      .large-10.large-offset-1.columns
        #allWelcomeText
          #welcomeText Welcome to Sports Bros
          .subWelcomeText Sports bros is your online destination for meeting other sports fans and displaying your fandom!
          .subWelcomeText Log in or click Sign Up to create an account.
